/** Global styles here **/

.slide img {
  max-height: calc(var(--content-height, 800px) * 0.8);
}

.slide table img {
  max-width: calc(var(--content-width, 1400px) / 2);
}
.slide h3 + table:not(:has(img)),
.slide h2 + table:not(:has(img)) {
  font-size: 0.7em;
  line-height: 1.5em;
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0;
    text-align: left;
    vertical-align: top;
  }

  tr:last-child th,
  tr:last-child td {
    border-bottom: none;
  }
}
code {
  opacity: 0.8;
}

small {
  font-size: 1.2rem;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 1.6rem;
  opacity: 0.6;
  td {
    padding: 0 1rem;
  }
  &[data-marked="1"] td:nth-child(1) {
    opacity: 1;
    font-weight: bold;
    background-color: red;
  }
  &[data-marked="2"] td:nth-child(2) {
    opacity: 1;
    font-weight: bold;
    background-color: red;
  }
  &[data-marked="3"] td:nth-child(3) {
    opacity: 1;
    font-weight: bold;
    background-color: red;
  }
  &[data-marked="4"] td:nth-child(4) {
    opacity: 1;
    font-weight: bold;
    background-color: red;
  }
  &[data-marked="5"] td:nth-child(5) {
    opacity: 1;
    font-weight: bold;
    background-color: red;
  }
  &[data-marked="6"] td:nth-child(6) {
    opacity: 1;
    font-weight: bold;
    background-color: red;
  }
  &[data-marked="7"] td:nth-child(7) {
    opacity: 1;
    font-weight: bold;
    background-color: red;
  }
}

.slide {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.source {
  filter: invert();
  position: absolute;
  bottom: -10px;
  font-size: x-large;
}

[data-tooltip]:hover {
  position: relative;
}

[data-tooltip]:hover::before {
  all: initial;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  background-color: #1a1a1a;
  content: attr(data-tooltip);
  color: #f9f9f9;
  position: absolute;
  top: 100%;
  width: 400px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 15px;
  text-align: center;
  font-size: xx-large;
}

.hidden {
  display: none;
}
